# pytorch related
# conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia
# conda install pytorch==1.12.1 torchvision==0.13.1 torchaudio==0.12.1 cudatoolkit=11.3 -c pytorch
# conda install pytorch==1.13.0 torchvision==0.14.0 torchaudio==0.13.0 pytorch-cuda=11.6 -c pytorch -c nvidia
# others
tqdm
matplotlib
pandas
datasets>=2.14.0
transformers>=4.31.0
wandb
spacy
# in some case, the language model in spacy must be downloaded
bs4
scipy
xlsxwriter
datasets
jieba
rouge
sentencepiece
opencc
evaluate
rouge_score>=0.1.2

# GECToR need ...
tensorboard
tensorboardX
scikit-learn

# Causal LM need ...
# pytorch >= 1.13.0
peft
# gptq
# if load_in_8bit
# bitsandbytes

# OpenAI need...
openai==0.27.8

# ChERRANT need...
nltk
ltp
pypinyin
Levenshtein

# others
# xpinyin
# synonyms
# allennlp
# overrides
# chardet
# cchardet
# pyllama
# thulac